<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
    <title>Document</title>
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">

    <link rel="stylesheet" href="/public/css/app.css">
</head>

<body>
    <input type="checkbox" id="nav-toggle">
    <div class="sidebar">
        <div class="sidebar-brand">
            <h2><a href="/admin">
                    <span> <img src="/public/Images/logo-png.png" alt="" /></span>

                    <span>Boeken BookHouse</span> </a></h2>
        </div>
        <div class="sidebar-menu">
            <ul>
                <li>
                    <a href="/admin">
                        <span class="las la-igloo"></span>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/member" class="active">
                        <span class="las la-users"></span>
                        <span>Members</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/attendance">
                        <span class="las la-id-card"></span>
                        <span>Attendance</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/books">
                        <span class="las la-book-reader"></span>
                        <span>Books</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="main-content">
        <header>
            <h2>
                <label for="nav-toggle">
                    <span class='las la-bars'></span>
                </label>
                Add Member
            </h2>
            <div class="logout-wrapper">

                <a href="/logout"><h3><span class="las la-power-off"></span>LogOut</h3></a>
            </div>

        </header>

        <main class="function-page">
            {{#if info}}
				<div class="alert alert-primary">
					
					<div>
						<img src="/public/Images/Alert/info.svg" alt="" style="fill: currentColor;">
						<span>{{info}}</span>
					</div>
					<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
				</div>
				{{/if}}
				{{#if warning}}
				<div class="alert alert-warning">
					
					<div>
						<img src="/public/Images/Alert/warning.svg" alt="" style="fill: currentColor;">
						<span>{{warning}}</span>
					</div>
					<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
				</div>
				{{/if}}
				{{#if danger}}
				<div class="alert alert-danger">
					
					<div>
						<img src="/public/Images/Alert/danger.svg" alt="" style="fill: currentColor;">
						<span>{{danger}}</span>
					</div>
					<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
				</div>
				{{/if}}
                {{#if success}}
				<div class="alert alert-success">
					
					<div>
						<img src="/public/Images/Alert/success.svg" alt="" style="fill: currentColor;">
						<span>{{success}}</span>
					</div>
					<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
				</div>
				{{/if}}
            <div class="member-add-grid">

                <div class="card">
                    <div class="card-header">
                        <h3>Personal Details</h3>
                        <!-- <div>
                                <span class="lar la-calendar">
                                </span><span>Today's Date</span>
                            </div> -->
                    </div>
                    <div class="card-body">
                        <form action="/auth/add_member" method="POST" class="member-add-form form-control">
                            <div id="member-add-firstname-div">
                                <input type="text" placeholder="First Name" name='firstname'>
                            </div>
                            <div id="member-add-lastname-div">
                                <input type="text" placeholder="Last Name" name='lastname'>
                            </div>
                            <div id="member-add-email-div">
                                <input type="email" placeholder="member@email" name='email'>
                            </div>

                            <div id="member-add-dob-div">
                                <input type="text" onfocus="(this.type='date')" name="dob" class="dob" id="dob"
                                    placeholder="Date of Birth">

                            </div>
                            <div id='member-add-gender-div' class="form-checkbox" style="flex-direction: row;">
                                <span>Gender:</span>
                                <div>
                                    <input class="form-check-input" type="radio" name="gender"
                                        id="inlineRadio1" value="male" checked>
                                    <label class="form-check-label" for="inlineRadio1">Male</label>
                                </div>
                                <div>
                                    <input class="form-check-input" type="radio" name="gender"
                                        id="inlineRadio2" value="female">
                                    <label class="form-check-label" for="inlineRadio2">Female</label>
                                </div>
                                <div>
                                    <input class="form-check-input" type="radio" name="gender"
                                        id="inlineRadio3" value="other">
                                    <label class="form-check-label" for="inlineRadio3">Other</label>
                                </div>
                            </div>

                            <div id="member-add-contact-no-div">
                                <input type="text" placeholder="Contact No." name='contactno'>
                            </div>
                            <div id="member-add-gurdianname-div">
                                <input type="text" placeholder="Gurdian's Name" name='gurdianname'>
                            </div>
                            <div id="member-add-emer-contact-no-div">
                                <input type="text" placeholder="Emergency Contact No." name='emergencycontactno'>
                            </div>

                            <div id="member-add-tempadd-div">
                                <input type="text" placeholder="Temperory Address" name='temperoryaddress'>
                            </div>
                            <div id="member-add-permadd-div">
                                <input type="text" placeholder="Permanent Address" name='permanentaddress'>
                            </div>
                            <div id="mem-add-form-btn">
                                <button>Add Member</button>
                            </div>


                        </form>


                    </div>
                </div>
            </div>
        </main>
    </div>

</body>

</html>