<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
    <title>Document</title>
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
        
    <link rel="stylesheet" href="/public/css/app.css">
</head>

<body>
    <input type="checkbox"  id="nav-toggle">
    <div class="sidebar">
        <div class="sidebar-brand">
            <h2><a href="/admin">
                <span> <img src="/public/Images/logo-png.png" alt=""/></span>
               
                <span>Boeken BookHouse</span> </a></h2>
        </div>
        <div class="sidebar-menu">
            <ul>
                <li>
                    <a href="/admin">
                        <span class="las la-igloo"></span>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/member">
                        <span class="las la-users"></span>
                        <span>Members</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/attendance">
                        <span class="las la-id-card"></span>
                        <span>Attendance</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/books" class="active">
                        <span class="las la-book-reader"></span>
                        <span>Books</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="main-content">
        <header>
            <h2>
                <label for="nav-toggle">
                    <span class='las la-bars'></span>
                </label>
                Books
            </h2>
            <div class="logout-wrapper">
                
                 <a href="/logout"><h3><span class="las la-power-off"></span>LogOut</h3></a>
        </div>

        </header>

        <main class="entry-page">
            <div class="entry-card">
                <a class="" href="/admin/books/issue" >
    
                    <div class="entry-card-body ">
                        <img src="https://img.icons8.com/color/96/000000/return-book.png"/>
                      <h2 >Issue Book</h2>
                      
                    </div>
                </a>
            </div>
            
            <div class="entry-card">
                <a href="/admin/books/return" >
                    <div class="entry-card-body ">
                        
                        <img src="https://img.icons8.com/color/96/000000/borrow-book.png"/>
                      <h2 >Return Book</h2>
                      
                    </div>
                </a>
            </div>

            <div class="entry-card">
                <a href="/admin/books/bookrequest" >
                    <div class="entry-card-body ">
                        <img src="https://img.icons8.com/fluent/96/000000/book.png"/>
                      <h2 >Book Requests
                      </h2>
                      
                    </div>
                </a>
            </div>

            <div class="entry-card">
                <a class="" href="/admin/books/addbook" >
    
                    <div class="entry-card-body ">
                        <img src="https://img.icons8.com/fluent/96/000000/add-tag.png"/>
                      <h2 >Add Book</h2>
                      
                    </div>
                </a>
            </div>
            
            <div class="entry-card">
                <a href="/admin/books/view" >
                    <div class="entry-card-body ">
                        <img src="https://img.icons8.com/fluent/96/000000/ingredients-list.png"/>
                      <h2 >View Books</h2>
                      
                    </div>
                </a>
            </div>
            <div class="entry-card">
                <a  href="/admin/books/updatebook" >
                    <div class="entry-card-body ">
                            <img src="https://img.icons8.com/fluent/96/000000/update-tag.png"/>
                      <h2 >Update Records</h2>
                      
                    </div>
                </a>
            </div>

        </main>
    </div>

</body>

</html>