@font-face {
    font-family: 'Yanone Kaffeesatz';
    src: url('YanoneKaffeesatz-Regular.eot');
    src: url('YanoneKaffeesatz-Regular.eot?#iefix') format('embedded-opentype'),
        url('YanoneKaffeesatz-Regular.woff2') format('woff2'),
        url('YanoneKaffeesatz-Regular.woff') format('woff'),
        url('YanoneKaffeesatz-Regular.ttf') format('truetype'),
        url('YanoneKaffeesatz-Regular.svg#YanoneKaffeesatz-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

