/* fonts  */
@import url("/public/css/fonts.css");

/* index.hbs css file  */
body{box-sizing: border-box;
    margin: 0;
    padding:0px;
    background-image: linear-gradient(to top, #000000, #111111, #1b1b1b, #252525, #303030);
    scroll-padding-top: 68px;
}

.index-heading {
    font-family: 'Fredericka the Great', cursive; 
    text-align:center;
    color:#fff;
    text-transform: uppercase;
    font-size: 3.4rem;
}

/* bootstrap overriding */
.row{
    margin: auto;
}

/* index page namebar */


#brand-name{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 2.3rem;
    text-decoration: none;
    font-weight: 600;
    vertical-align: bottom;
    letter-spacing: 3px;
    
}

#brand-name >img{
    margin-right: 1.2rem;
    vertical-align: top;
    padding: 0.2rem;
}

#index-navbar{
    background-color: #000000;
    padding-left: 30px;
    padding-right: 30px;
    
}

#index-navbar-ul{
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 1.5rem;
}

#index-navbar-ul > li>a{
    color: white;
    margin-left: 15px;
    margin-right: 15px;
}

#index-navbar-ul > li> a> img{
    vertical-align: middle;
    margin-right: 5px;
}

#home-div{
    background-image: url('/public/Images/Home/index-home.jpg');
    height: 80vh;
    width:100%;
    /* filter: blur(8px);
    -webkit-filter: blur(4px); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0; 
}

#home-div-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: inherit;
    width: 35%;
    margin: 0 100px;
}


#home-heading{
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 4.2rem;
    color: white;
    text-transform: capitalize;
    text-align: center;
    line-height: 60px;
}

#home-quote{
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 2rem;
    color: white;
    text-align: center;
    text-transform: capitalize;
}

#hr-line{
    border-top:4px solid white;
    width: 65%;
    margin-bottom: 25px;
    margin-top: 10px;
}

.home-btn{
    width: 100%;
    margin: 2rem auto;
    padding: 0.7rem 2rem;
    font-size: 1.2rem;
}


/* index page new arrival */

#new-arrivals{
    font-family: Tahoma;
    overflow-x: hidden;

}

.hi-slide { position: relative; width: 754px; height: 292px; margin: 115px auto 0;
margin-bottom: 115px; }
    
.hi-slide .hi-next,
.hi-slide .hi-prev {
    position: absolute;
    top: 50%; 
    width: 40px;
    height: 40px; 
    margin-top: -20px;     
    border-radius: 50px; 
         
        
    line-height: 40px;
    text-align: center; 
    cursor: pointer;
    background-color: #fff; 
    color: black;               
    transition: all 0.6s;
    font-size: 20px; 
    font-weight: bold;
}
.hi-slide .hi-next:hover, 
.hi-slide .hi-prev:hover{
    opacity: 1; 
    background-color: #fff;  
}
    
.hi-slide .hi-prev{
    left: -60px;
}
    
.hi-slide .hi-prev::before{
    content: '<';
}
.hi-slide .hi-next{
    right: -60px;
}
.hi-slide .hi-next::before{
    content: '>';
}

.hi-slide > ul{
    list-style: none; 
    position: relative;
    width: 754px; 
    height: 292px; 
    margin: 0;
    padding: 0;
}
    
    
.hi-slide > ul > li{
    overflow: hidden; 
    position: absolute; 
    z-index: 0; 
    left: 377px;
    top: 146px; 
    width: 0; 
    height:0; 
    margin: 0; 
    padding: 0;
    border: 3px solid #fff;              
    background-color: #333; 
    cursor: pointer;
}
    
.hi-slide > ul > li > img{
    width: 100%;
    height: 100%;
    background-position: center;
}

/* index-page about us  */
.about-us-cards{
    width: 25rem;
    border-radius: 30px;
}

/* .about-us-cards>div{
    border-radius: 15px;
} */
.about-us-cards img{
    height: 30vh;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.about-us-cards p{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    text-align: center;
}
.about-us-cards ul{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
}

/* index-page contact-us  */
#contact-us{
    background: black;
}

#contact-us-heading{
    margin-right: 3%;
}

#contact-us-vl{
    border-right: 5px solid white;
    height: inherit;
}

.contact-us-ul-text{
    font-family: serif;
    font-size: 1.5rem;
    text-transform: capitalize;

}
.contact-us-ul-text>li >img{
height: 70px;
}

#contact-us-handles >li >a >img{
    height: 90px;
}

/* gradient rainbow line  */
.seperator-wrapper {
    width: 100%;  
    margin: 50px 0;
 
  }

  .seperator {
    width: 1902px;
    height: 5px;
    animation: rotate 3s infinite linear;
    -webkit-animation: rotate 3s infinite linear;
  }
  
  @-webkit-keyframes rotate {
    from {
      background-position: -3000px;
    }
    to { 
      background-position: 0px;
    }
  }
  
  @keyframes rotate {
    from {
      background-position: -3000px;
    }
    to { 
      background-position: 0px;
    }
  }
  
  .gradient {
    background: rgb(48,255,144); /* Old browsers */
  background: -moz-linear-gradient(left,  rgba(48,255,144,1) 0%, rgba(237,45,237,1) 25%, rgba(201,152,38,1) 50%, rgba(48,255,230,1) 75%, rgba(48,255,144,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(48,255,144,1)), color-stop(25%,rgba(237,45,237,1)), color-stop(50%,rgba(201,152,38,1)), color-stop(75%,rgba(48,255,230,1)), color-stop(100%,rgba(48,255,144,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(48,255,144,1) 0%,rgba(237,45,237,1) 25%,rgba(201,152,38,1) 50%,rgba(48,255,230,1) 75%,rgba(48,255,144,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(48,255,144,1) 0%,rgba(237,45,237,1) 25%,rgba(201,152,38,1) 50%,rgba(48,255,230,1) 75%,rgba(48,255,144,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(48,255,144,1) 0%,rgba(237,45,237,1) 25%,rgba(201,152,38,1) 50%,rgba(48,255,230,1) 75%,rgba(48,255,144,1) 100%); /* IE10+ */
  background: linear-gradient(to right,  rgba(48,255,144,1) 0%,rgba(237,45,237,1) 25%,rgba(201,152,38,1) 50%,rgba(48,255,230,1) 75%,rgba(48,255,144,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#30ff90', endColorstr='#30ff90',GradientType=1 ); /* IE6-9 */
  
  }


  

    /* framed border*/
    
    .heading-container{
        display: flex;
        width: 100%;
        justify-content: center;
        padding: 5px;
    }
    .geeks {
        display: block;
        top: 40%;
        position: relative;
  
        width: 35%;
    }
  
    h1 {
        position: relative;
        margin: 5px;
        padding: 7px;

    }
  
    .geeks::before {
        content: "";
        position: absolute;
        top: -2px;
        left: -2px;
        width: 0;
        height: 0;
        background: transparent;
        border: 2px solid transparent;
    }
  
    .geeks:hover::before {
        animation: animate 1s linear forwards;
    }
  
    @keyframes animate {
        0% {
            width: 0;
            height: 0;
            border-top-color: rgb(255, 255, 255);
            border-right-color: transparent;
            border-bottom-color: transparent;
            border-left-color: transparent;
        }
  
        50% {
            width: 100%;
            height: 0;
            border-top-color: white;
            border-right-color: wheat;
            border-bottom-color: transparent;
            border-left-color: transparent;
        }
  
        100% {
            width: 100%;
            height: 100%;
            border-top-color: white;
            border-right-color: white;
            border-bottom-color: transparent;
            border-left-color: transparent;
        }
    }
  
    .geeks::after {
        content: "";
        position: absolute;
        top: -2px;
        left: -2px;
        width: 0;
        height: 0;
        background: transparent;
        border: 2px solid transparent;
    }
  
    .geeks:hover::after {
        animation: animates 1s linear forwards;
    }
  
    @keyframes animates {
        0% {
            width: 0;
            height: 0;
            border-top-color: transparent;
            border-right-color: transparent;
            border-bottom-color: transparent;
            border-left-color: white;
        }
  
        50% {
            width: 0;
            height: 100%;
            border-top-color: transparent;
            border-right-color: transparent;
            border-bottom-color: white;
            border-left-color: white;
        }
  
        100% {
            width: 100%;
            height: 100%;
            border-top-color: transparent;
            border-right-color: transparent;
            border-bottom-color: white;
            border-left-color: white;
        }
    }


    /* div shaking */
    /* .shakethis {
        width: 150px;
        height: 150px;
        background: red;
      } */
      .shakethis:hover {
        animation: shakeanimation;
        animation-duration: 1s;
        transform: translate3d(0, 0, 0);
      }
      @keyframes shakeanimation {
        15%, 85% {
          transform: translate3d(-2px, 0, 0);
          
        }
        
        25%, 75% {
          transform: translate3d(4px, 0, 0);
        }
        30%, 50%, 70% {
          transform: translate3d(-8px, 0, 0);
        }
        40%, 60% {
          transform: translate3d(8px, 0, 0);
        }
      }
      .jiggle:hover {
        -webkit-animation: jiggle 0.2s infinite;
        -moz-animation-duration: 0.2s;
        -moz-animation-name: jiggle;
        -moz-animation-iteration-count: infinite;
        -webkit-transform: rotate(-3deg);
        -moz-transform: rotate(-3deg);
    }
    
    @-moz-keyframes jiggle {
        0% {
            -moz-transform: rotate(-2deg);
        }
        50% {
            -moz-transform: rotate(2deg);
        }
    }
    
    @-webkit-keyframes jiggle {
        0% {
            -webkit-transform: rotate(-2deg);
            }
        50% {
            -webkit-transform: rotate(2deg);
        }
    }