@font-face {
    font-family: 'Alaska';
    src: url('Alaska-Regular.eot');
    src: url('Alaska-Regular.eot?#iefix') format('embedded-opentype'),
        url('Alaska-Regular.woff2') format('woff2'),
        url('Alaska-Regular.woff') format('woff'),
        url('Alaska-Regular.ttf') format('truetype'),
        url('Alaska-Regular.svg#Alaska-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Alaska';
    src: url('Alaska-Regular_1.eot');
    src: url('Alaska-Regular_1.eot?#iefix') format('embedded-opentype'),
        url('Alaska-Regular_1.woff2') format('woff2'),
        url('Alaska-Regular_1.woff') format('woff'),
        url('Alaska-Regular_1.ttf') format('truetype'),
        url('Alaska-Regular_1.svg#Alaska-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

