@font-face {
    font-family: 'rome';
    src: url('rome.eot');
    src: url('rome.eot?#iefix') format('embedded-opentype'),
        url('rome.woff2') format('woff2'),
        url('rome.woff') format('woff'),
        url('rome.ttf') format('truetype'),
        url('rome.svg#rome') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rome';
    src: url('rome_1.eot');
    src: url('rome_1.eot?#iefix') format('embedded-opentype'),
        url('rome_1.woff2') format('woff2'),
        url('rome_1.woff') format('woff'),
        url('rome_1.ttf') format('truetype'),
        url('rome_1.svg#rome') format('svg');
    font-weight: normal;
    font-style: normal;
}

