@font-face {
    font-family: 'Reggae One';
    src: url('ReggaeOne-Regular.eot');
    src: url('ReggaeOne-Regular.eot?#iefix') format('embedded-opentype'),
        url('ReggaeOne-Regular.woff2') format('woff2'),
        url('ReggaeOne-Regular.woff') format('woff'),
        url('ReggaeOne-Regular.ttf') format('truetype'),
        url('ReggaeOne-Regular.svg#ReggaeOne-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

